[submodule "vim/pack/git-plugins/start/ale"]
	path = vim/pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/git-plugins/start/omnisharp-vim"]
	path = vim/pack/git-plugins/start/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
